@model Oesia.Models.UserProject

@{
    ViewData["Title"] = "Details";
}

<h2>Project's Details</h2>

<div>
    <h4>User Project</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div id="content"></div>

<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.0/umd/react.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.0/umd/react-dom.development.js"></script>

<script src="@Url.Content("~/js/Components/ProjectDetails.jsx")"></script>