/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/*layout container*/
.container.body-content{
  padding-top: 70px;
  position: absolute;
}

.body-content {
    padding-left: 15px;
    padding-right: 30px;
}

#containerHome {
    display: flex; /* or inline-flex */
    flex-direction: row;
    margin:20vh 20vh;
    justify-content: center;
}

.oesiatm{
    width: 300vw;
    height: 70vh;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Georgia';
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    #logooesia{
        width: 60px;
    }
}

.footerPar{
    position:fixed;
    position:center;
    bottom: 0%;
}

hr{
    position: fixed;
    position: center;
    bottom: 5%;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

table, th, td {
    padding: 5px;
    border: 1px solid black;
}

/********************************************NavBar***************************************/
.navbar {
    height: 80px;
    background-color: white;
    border-bottom: 0.4vw solid #7a1f5e;
}

.navbar-inverse .navbar-toggle {
    background-color: #7a1f5e;
    border-color: #333;
}

div.navbar-collapse.collapse {
    margin-top: 10px;
    background-color: white;
    padding-left: 40px;
    padding-right: 20px;
}

div.navbar-collapse.collapse ul li:hover {
    background-color: #7a1f5e;
}

div.navbar-collapse.collapse.in {
    background-color: #7a1f5e;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #7a1f5e;
}

/*colour color-profile thead navbar*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #7a1f5e;
    background-color: white;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #7a1f5e;
}

button.navbar-toggle {
    margin-top: 20px;

}
/*.navbar-inverse .navbar-toggle {
    position: fixed;
    top: 5px;
}*/

/*div.container::before{
    padding-top: 15px;
}*/



dropdown-toggle {
    background-color: #7a1f5e;
}

#logooesia{
    position: fixed;
    padding: 1vw;
    left: 0%;
    top:0%;
    width: 80px;
}

/*********************************/
/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */


    #carousel1, #carousel2, #carousel3 {
        width: 845px;
        height: 390px;
    }

    .carousel-caption p {
        font-size: 30px;
        line-height: 1.4;
        margin: 80px;
    }

/**************************************Responsive tables******************************************************/
th, td {
    padding: 15px;
    text-align: left;
}

th, td {
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #7a1f5e;
    color: white;
}

table, th, td {
    border-left: none;
    border-right: none;
    border-top: none;
}

thead {
    border-top: none;
}

/************************************Buttons**********************************************************/
.progress-bar {
    width: 70%;
}

button.editBtn.btn.btn-default a, button.deleteBtn.btn.btn-default a {
    color: #7a1f5e;
}

/**************************************Footer****************************************************************/
/*.footerPar {
    margin:auto 0 ;
    height: 80px;
    opacity:0.5;
    width: 100vw;
    background-color: #7a1f5e;
}
.footerPar p {
    opacity :1;
}*/

/******************************************Tabs**************************************************************/

.headerDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

div.presentationBlock {
    padding: 25px 10px 5px 20px;
    /*background-color: #f3d2ea;*/
    /*background-color: #7a1f5e;
    opacity: 0.5;*/
}

span.titlePresentation {
    font-weight: bolder;
    color: #7a1f5e;
}

ul.nav.nav-tabs {
    background-color: #fbeff7;
}

.nav-tabs > li.active > a {
    background-color: #fbeff7;
}

.nav-tabs > li > a{
    background-color: white;
}

div.progress-bar {
    background-color: red;
    width: 40px;
}

div.progress-bar {
    background-color: red;
    width: 40px;
}

div.progress-bar.details{
    background-color: darkorange;
    width: 70px;
}

.progress{
    background-color: white;
    width: 200px;
}
.nav-tabs > li > a {
    color: #7a1f5e;
}

/**************************************************Text*********************************************************/
a {
    color: #7a1f5e;
}
    /*******************************************media queries*************************************************/
    @media screen and (min-width: 800px) {
        img#carousel1.img-responsive, img#carousel2.img-responsive, img#carousel3.img-responsive {
            width: 1300px;
            height: 450px;
        }

        .carousel-caption {
            right: 20%;
            left: 20%;
            padding-bottom: 90px;
        }
    }

    @media screen and (max-width: 767px) {

        img#carousel1.img-responsive, img#carousel2.img-responsive, img#carousel3.img-responsive {
            width: 400px;
            height: 200px;
        }

        .carousel-caption p {
            font-size: 20px;
            margin: 25px;
        }
    }

    @media screen and (max-width: 400px) {
        /* Hide captions */
        .carousel-caption {
            display: none;
        }

        img#carousel1.img-responsive, img#carousel2.img-responsive, img#carousel3.img-responsive {
            width: 100vw;
            height: 50vh;
        }
    }

